.card {
display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
}

.card__content {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  padding: 0;
  margin: 0;
  max-width: 324px;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/trash-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card__delete-btn:hover {
  background-image: url(../images/trash-hover.svg);
  opacity: 0.7;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}


.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn-active {
  background-image: url(../images/liked-active.svg);
  opacity: 1;
}

.card__like-btn-active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
  }

  .card__like-btn {
    background-size: 18px;
    background-repeat: no-repeat;
  }
  .card__image {
    height: 288px;
  }
}