.card {
  width: 413px;
}

.card__image {
width: 413px;
height: 413px;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}