.modal {
  visibility: hidden;
  opacity:0;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Poppins";
}

.modal_is-opened {
  visibility: visible;
  opacity:1;
    transition-delay:0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: #2121214d;
  font-size: 32px;
  border: none;
  border-radius: none;
  border-style: none;
  background-color: transparent;
}


.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-style: medium;
  font-weight: 500;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  padding: 16px 12px;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  font-style: medium;
  font-weight: 500;
  line-height: 110.00000000000001%;
}

.modal__input {
display: block;
margin: 8px 0 0;
color: rgba(33, 33, 33, 0.7);
font-size: 20px;
font-weight: 500;
font-style: medium;
line-height: 100%;
padding: 12px 16px;
gap: 10px;
border-radius: 8px;
background-color: transparent;
width: 630px;
height: 52px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border-style: none;
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 100%;
    max-width: none;
  }
}