.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Poppins";
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity:1;
  transition-delay:0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  padding: 32px 50px;
  position: relative;

}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: #2121214d;
  font-size: 32px;
  border: none;
  border-radius: none;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close_type_preview {
top: 0;
right: -52.5px;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  font-style: medium;
  font-weight: 500;
  line-height: 110.00000000000001%;
}

.modal__input {
display: block;
margin: 8px 0 0;
color: rgba(33, 33, 33, 0.7);
font-size: 20px;
font-weight: 500;
font-style: medium;
line-height: 100%;
padding: 12px 16px;
gap: 10px;
border-radius: 8px;
background-color: transparent;
width: 100%;
height: 52px;
border: 1px solid rgba(33, 33, 33, 0.4);
box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border-style: none;
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
  background-color: transparent;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
}


@media screen and (max-width: 480px) {
  .modal__container {
    width: 100%;
    max-width: none;
    padding: 16px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .modal__close-btn {
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    font-size: 24px;
  }

  .modal__input {
    font-size: 16px;
    padding: 8px 12px;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }

}

@media screen and (max-width: 627px) {
.modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}