.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
flex-direction: column;
max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121B2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  padding: 0;
  margin-top: auto;
  margin-right: auto;
  gap: 8px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  border-color: transparent;
  outline: none;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.profile__edit-btn:hover {
opacity: 1;
}

.profile__add-btn {
width: 157px;
height: 52px;
padding: 0;
margin-left: auto;
margin-top: auto;
border-radius: 8px;
background-color: #212121;
color: #FCF5E5;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
border: none;
cursor: pointer;
}

.profile__add-btn:hover {
opacity: 0.9;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    max-width: 288px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

.profile__description {
margin: 0 0 32px;
}

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    margin-left: auto;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

}